# ignore all dependencies by default
wp-content/languages/*
wp-content/plugins/*
wp-content/themes/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/mu-plugins/*
wp-content/wflogs/*
vendor/*

node_modules/*
mariadb_data/

.sass-cache
