.widget .instagram-pics {
	display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.widget .instagram-pics li {
	border: none;
	padding: 0 10px 10px;
	width: 50%;
}

#item-header-content {
	flex-grow: 1;
}
