@charset "UTF-8";
.widget-title, .widgettitle, .profile .bp-widget h2 {
  color: #083050 !important;
  font-family: "Effra" !important;
  font-size: 19px !important;
  font-weight: 500 !important;
}

body a {
  color: #b3c135;
}

#gp-standard-header .menu > .menu-item > a, #gp-standard-header .menu > .menu-item .gp-more-menu-items-icon {
  color: #083050 !important;
}
#gp-standard-header .menu > .menu-item.current-menu-item a, #gp-standard-header .menu > .menu-item > a:hover {
  color: #0C9B4A !important;
}

.gp-theme #buddypress ul.activity-list > li, .gp-theme #buddypress .activity-list .activity-content .activity-header, .gp-theme #buddypress .activity-list .activity-content .comment-header, .gp-theme #buddypress a.activity-time-since {
  color: #333333 !important;
}
.gp-theme #buddypress ul.activity-list > li a {
  color: #0C9B4A !important;
}

.gp-featured-box-cats a {
  font-size: 10px;
  font-weight: 500;
  background-color: rgba(0, 181, 175, 0.8);
}

.tagcloud a {
  background-color: #2CB781 !important;
  background-image: none !important;
}

@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Heavy.woff2") format("woff2"), url("../fonts/Effra-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-MediumItalic.woff2") format("woff2"), url("../fonts/Effra-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-LightItalic.woff2") format("woff2"), url("../fonts/Effra-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Light.woff2") format("woff2"), url("../fonts/Effra-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("../fonts/Effra-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Italic.woff2") format("woff2"), url("../fonts/Effra-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("../fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-HeavyItalic.woff2") format("woff2"), url("../fonts/Effra-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-BoldItalic.woff2") format("woff2"), url("../fonts/Effra-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
.gp-theme #buddypress .activity-list .activity-content {
  background-color: #F5F5F5 !important;
}

.widget .instagram-pics {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.widget .instagram-pics li {
  border: none;
  padding: 0 10px 10px;
  width: 50%;
}
.widget p.clear a:before {
  content: "";
  background-image: url("/wp-content/themes/lemann-lideres/assets/images/instagram_logo.png");
  background-size: 16px 16px;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

#item-header-content {
  flex-grow: 1;
}

.page-login {
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-image: url("/wp-content/themes/lemann-lideres/assets/images/login_bg.png");
  background-size: cover;
}
.page-login .logo img {
  margin: 0 auto;
  display: block;
  width: 160px;
}
.page-login h1 {
  color: #FFFFFF;
  font-family: "Effra";
  font-size: 36px;
  font-weight: 300;
  line-height: 43px;
  margin-bottom: 40px;
}
.page-login h3 {
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
}
.page-login #loginform {
  padding: 30px;
  box-shadow: 0 0 0px 10px rgba(8, 48, 80, 0.3);
  width: 380px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.page-login #loginform label {
  display: block;
  font-size: 12px;
  color: #083050;
}
.page-login #loginform input[type=text], .page-login #loginform input[type=password] {
  width: 100%;
}
.page-login #loginform .button {
  display: block;
  background: #083050;
  width: 100%;
  padding: 13px;
}
.page-login .row {
  width: 100%;
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
.page-login .row .col-md-6 {
  margin: 0 15px;
  flex: 0 0 50%;
  max-width: 0 0 50%;
}
@media screen and (max-width: 640px) {
  .page-login .row .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.page-login .row .col-md-6.align-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#gp-buddypress-header .vc_col-md-8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
}
#gp-buddypress-header .header-temas-interesse .header-tema-interesse {
  background-color: rgba(8, 48, 80, 0.8);
  border-radius: 3px;
  margin: 15px 10px 0 0;
  padding: 5px 8px;
}
#gp-buddypress-header .generic-button a {
  background-color: rgba(0, 181, 175, 0.8) !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  padding: 10px 15px !important;
  vertical-align: middle;
}
#gp-buddypress-header .generic-button a:before {
  font-family: "FontAwesome";
  font-size: 18px;
  margin-right: 5px;
}
#gp-buddypress-header .generic-button a.friendship-button.is_friend:before {
  content: "";
}
#gp-buddypress-header .generic-button a.friendship-button.is_friend.remove:before {
  content: "";
}
#gp-buddypress-header .generic-button a.activity-button.mention:before {
  content: "";
}
#gp-buddypress-header .generic-button a.send-message:before {
  content: "";
}
#gp-buddypress-header .vc_col-md-4 {
  text-align: right;
}
#gp-buddypress-header .vc_col-md-4 h2 {
  color: white;
}
#gp-buddypress-header .vc_col-md-4 a {
  text-decoration: none !important;
}
#gp-buddypress-header .vc_col-md-4 li {
  list-style-type: none;
  line-height: 1.25;
}
#gp-buddypress-header .vc_col-md-4 #gp-author-social-icons {
  margin-top: 10px;
}

body * {
  font-family: "Effra" !important;
}

/*# sourceMappingURL=style.css.map */
