#gp-footer {
    background-color: $c_lightgray !important;
}
#gp-footer-widgets {
    border-color: transparent !important;
    padding: 15px 0 0 0;
}
.gp-footer-widget .widget, .gp-footer-widget .widget:last-child {
    color: $c_lightergray !important;
    margin-bottom:5px;
    li {
        padding: 3px 0;
    }
 
    a {
        color: $c_lightergray !important;
    }
    .current_page_item a, a:hover {
        color: $c_primary !important;
    }
   
    .menu {
        text-align: right;
        @media only screen and (max-width: 600px)  {
            text-align: left;
            padding-top: 10px;
        }
    }
}
#gp-copyright  {
    padding: 5px 0;
}
#gp-copyright-text {
    color: $c_lightergray !important;
     a {
         color:black !important;
     }

     .logo-hack {
         font-weight: 500;
     }
     .red {
         color: red;
     }

}