#gp-standard-header {
	.gp-header-buttons {
		a.gp-notification-required-fields {
			background-color: $c_warning !important;
			border-radius: 100%;
			color: white !important;
			line-height: 25px;
			height: 20px;
			padding: 0;
			text-align: center;
			width: 20px;
		}

		.gp-profile-required-fields-warning {
			color: white !important;
			line-height: 1.3em;
			margin: -10px 0 10px;
			padding: 1em;
			text-align: center;

			&.gp-profile-status {
				&-completo {
					background: $c_profile_completo;
				}
				&-medio {
					background: $c_profile_medio;
				}
				&-insuficiente {
					background: $c_profile_insuficiente;
				}
			}

			a {
				color: inherit;
				text-decoration: underline;
			}

			.gp-profile-complete-levels {
				align-items: stretch;
				display: flex;
				margin: 10px 0;

				.gp-profile-complete-level {
					flex-grow: 1;

					&.active {
						span:after {
							background-color: $c_primary;
							border: 2px solid white;
							border-radius: 50%;
							content: '';
							display: block;
							height: 10px;
							margin: 0 auto;
							width: 10px;
						}
					}
				}
			}
		}

		#gp-profile-menu {
			list-style: none;
			margin: 0;
			padding: 0;
		}

	}
}
