#gp-standard-header {
	.gp-header-buttons {
		a.gp-notification-required-fields {
			background-color: $c_warning !important;
			border-radius: 100%;
			color: white !important;
			line-height: 25px;
			height: 20px;
			padding: 0;
			text-align: center;
			width: 20px;
		}

		.gp-profile-required-fields-warning {
			background: $c_warning;
			color: white !important;
			line-height: 1.3em;
			margin: -10px 0 10px;
			padding: 1em;
			text-align: center;

			&.gp-profile-complete {
				background: #51B413;
			}

			a {
				color: inherit;
				text-decoration: underline;
			}

			.gp-profile-complete-levels {
				align-items: stretch;
				display: flex;
				margin: 10px 0;

				.gp-profile-complete-level {
					width: 33.33%;

					&.active {
						span:after {
							background: $c_profile_medio;
							border: 2px solid white;
							border-radius: 50%;
							content: '';
							display: block;
							height: 10px;
							margin: 0 auto;
							width: 10px;
						}

						&.gp-profile-status {
							&-insuficiente span:after {
								background: $c_profile_insuficiente;
							}

							&-completo span:after {
								background: $c_profile_completo;
							}
						}
					}
				}
			}

			.gp-profile-completion-bar {
				background: linear-gradient(to right, $c_profile_insuficiente, $c_profile_medio, $c_profile_completo);
				border-radius: 2px;
				height: 5px;
				margin: -20px 16.66% 20px;
			}
		}

		#gp-profile-menu {
			list-style: none;
			margin: 0;
			padding: 0;
		}

	}
}
