// Override Themify icons with Font-Awesome

#wpadminbar {
    .ab-icon,
    .ab-item:before,
    & > #wp-toolbar > #wp-admin-bar-root-default .ab-icon {
        font-family: 'dashicons' !important;
    }
}
.dashicons {
    font-family: 'dashicons' !important;
}

.fa {
    font-family: 'FontAwesome' !important;
}

.ti {
    &-close:before {
        content: '\f00d';
        font-family: 'FontAwesome';
    }

    // Event-related
    &-calendar:before,
    &-location-arrow:before,
    &-time:before,
    &-user:before {
        color: red;
        font-family: 'FontAwesome';
        font-size: 20px;
        vertical-align: middle;
    }

    &-calendar:before {
        content: '\f073';
    }

    &-location-arrow:before {
        content: '\f041';
    }

    &-time:before {
        content: '\f017';
        margin-right: 7.5px;
    }

    &-user:before {
        content: '\f2c0';
    }
}
