#gp-content-wrapper.gp-container.contain-embed {
    padding-top: 0;
}

.post-type-archive-oportunidade {
    form#filters {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto 1fr [end];
        margin-bottom: 30px;

        label, button {
            grid-column: 1;
        }

        input, select {
            grid-column: 2;
        }

        @media screen and (min-width: 768px) {
            grid-template-columns: auto 1fr auto 1fr [end];

            label[for=data_final] {
                grid-column: 3;
            }

            input#data_final {
                grid-column: 4;
            }
        }
    }
}
