.members {
    #buddypress div.dir-search form input[type=text] {

        &::placeholder {
           color: $c_secondary;
        }
        border: 1px solid $c_primary-bg !important;
        padding: 20px 50px 20px;
    }

    #buddypress .item-list-tabs.bps_header {
        border-bottom: 0;

        li.last {
            @media screen and (max-width: 767px) {
                clear: both;
                float: left;
            }
        }

        h4 {
            color: $c_primary;
            font-weight: 500;
        }

        & + .bps_form {
            background-color: #f7f7f7;
            margin-bottom: 20px;
            padding: 10px;

            .radio, .checkbox {
                margin-bottom: 10px;

                .multiselect {
                    &__content {
                        margin: 0;
                    }

                    &__tag {
                        background-color: $c_primary-bg;
                    }
                }
            }

            .field_perfil label:nth-child(n+7) {
                display: none;
            }
        }
    }

    #buddypress .dir-form .item-list-tabs {

        ul li a {
            font-size: 19px;
            color: $c_primary;
            margin-top: 20px;
        }
    }
    .gp-posts-masonry.gp-style-classic .gp-loop-content {
        border-width: 0 !important;
        border-style:  none !important;
    }
    .gp-post-item {
        box-shadow: 0px 3px 5px $c_lightergray;
    }
    .gp-bp-wrapper .gp-bp-col-action .generic-button .add,
    .gp-bp-wrapper .gp-bp-col-action .generic-button .join-group {
        background-color: $c_link !important;
    }

}
