.page-template-template-jornadas {
    padding-top: 0;

    #gp-content-wrapper {
        padding-top: 0;
    }

    .jornadas-carousel {
        @media screen and (max-width: 991px) {
            display: none;
        }

        .slide-wrapper {
            background-position: center;
            background-size: cover;
            margin: 10px;
            transition: background-image 0.3s ease;
            width: calc(100% - 20px);
        }

        .slide {
            background-color: rgba($c_primary, 0.6);
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0; left: 0; right: 0; top: 0;

                strong, span {
                    color: white;
                    padding: 0 10px;
                    text-align: center;
                    text-shadow: 3px 3px 12px $c_primary;
                }

                strong {
                    font-size: 1.8em;
                    font-weight: 800;
                }

                span {
                    font-size: 1.2em;
                }
            }

            &:before {
                content: '';
                display: block;
                padding-top: 30%;
                width: 100%;
            }
        }
    }

    .jornadas-list {
        display: flex;
        flex-wrap: wrap;

        &--item-wrapper {
            background-position: center;
            background-size: cover;
            margin: 10px;
            width: calc(100% - 20px);

            @media screen and (min-width: 600px) {
                margin: 10px;
                width: calc(50% - 20px);
            }

            @media screen and (min-width: 992px) {
                margin: 10px;
                width: calc(25% - 20px);
            }
        }

        &--item {
            background-color: rgba($c_primary, 0.6);
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0; left: 0; right: 0; top: 0;

                strong, span {
                    color: white;
                    padding: 0 10px;
                    text-align: center;
                    text-shadow: 2px 2px 8px $c_primary;
                }

                strong {
                    font-size: 1.2em;
                    font-weight: 800;
                }

                span {
                    font-size: 0.9em;
                }
            }

            &:before {
                content: '';
                display: block;
                padding-top: 100%;
                width: 100%;
            }
        }
    }

    .jornadas-pagination {
        text-align: right;

        li {
            list-style: none;
            padding: 5px;
            display: inline-block;
        }

        .active {
            font-weight: 600;
        }
    }
}

.single-jornada {
    .gp-entry-featured {
        display: none;
    }
}