div.job_listings {
    form.job_filters {
        background: transparent;
        padding: 0;

        ul.job_types {
            display: none;
        }

        .search_jobs {
            div.search_keywords, div.search_location {
                @media screen and (max-width: 700px) {
                    float: initial;
                    padding: 0 0 10px;
                    width: 100%;
                }
            }
        }
    }

    ul.job_listings {
        border: 0;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0.3em;

        div.match-percentage {
            background: #AAA;
            border-radius: 5px;
            color: white;
            font-size: 0.8em;
            padding: 0 10px;
            position: absolute;
            right: 10px;
            top: 10px;

            &.matched {
                background: #F65;
            }
        }

        li.job_listing {
            border: 1px solid #eee;
            border-radius: 10px;
            margin: 10px 0;
            padding: 15px;
            position: relative;
            width: calc(100% - 1.4em);
            margin: 0.7em;

            @media screen and (min-width: 500px) and (max-width: 991px) {
                width: calc(50% - 1.4em);
            }

            @media screen and (min-width: 992px) {
                width: calc(33.333% - 1.4em);
            }

            img.company_logo {
                border: 2px solid #E7E7E7;
                border-radius: 50%;
                display: block;
                height: 128px;
                margin: 10px auto 20px;
                width: 128px;
            }

            &.job_position_featured {
                a.position {
                    padding: 10px;
                }
            }

            a.position {
                color: $c_lightgray;
                font-size: 0.9em;
                padding: 0;
                text-align: center;
                width: 100%;

                h3 {
                    color: $c_primary;
                    padding-bottom: 1em;
                }

                strong {
                    color: $c_primary;
                    font-weight: 600;
                }
            }
        }
    }
}

.wp_job_manager_send_application_button {
    display:none !important;
}

.job-manager-applications-applied-notice {
    display: block;
    float: none !important;
    font-size: 0.9em;
    margin:15px;
}

.single-job_listing {
    #gp-content-wrapper {
        padding-bottom: 0;
    }

    .gp-entry-featured {
        display: none;
    }
}

.single_job_listing {
    .job-listing-meta.meta {
        a {
            color: #999;
        }

        li::before {
            color: red;
            padding-right: 5px;
        }

        strong {
            color: red;
            font-weight: 600;
        }
    }

    .company {
        align-items: center;
        border-radius: 5px;
        display: flex;
        height: 130px;

        img.company_logo {
            border: 4px solid #E7E7E7;
            border-radius: 50%;
            height: 100px;
            margin-left: 10px;
            width: 100px;
        }

        p.name {
            color: $c_primary;
            margin: 0 0 0 130px;
            padding: 0;
            width: 100%;

            a.website {
                color: $c_primary;
                float: right;
                font-weight: 500;
            }
        }
    }

    .job_info {
        background: whitesmoke;
        left: -30px;
        padding: 30px 0;
        position: relative;
        width: calc(100% + 60px);

        .job_info_box {
            background: white;
            box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);
            display: inline-block;
            margin: 0 20px 30px;
            width: calc(100% - 40px);

            @media screen and (min-width: 992px) {
                margin: 0 0 30px;
                width: 100%;
            }

            &#informacoes-basicas, &#pre-requisitos {
                @media screen and (min-width: 992px) {
                    width: calc(50% - 10px);
                }
            }

            &#informacoes-basicas {
                float:left;
                clear: left;
            }

            &#pre-requisitos {
                float: right;
                clear: right;
            }

            &--title {
                background: $c_primary-bg;
                border: 2px solid white;
                border-radius: 7px;
                display: block;
                color: white;
                font-weight: 600;
                margin-bottom: 20px;
                padding: 10px 20px 5px;
                text-align: left;
                width: 100%;
            }

            &--content {
                ul li {
                    list-style: none;
                    padding-bottom: 5px;

                    strong {
                        color: $c_lightgray !important;
                        display: block;
                        width: 100% !important;
                        font-size: 0.8em;
                        position: relative;
                        padding: 0;
                    }

                    span {
                        a {
                            color: $c_primary-bg;
                        }
                    }
                }
            }
        }
    }

    .application {
        align-items: center;
        display: flex;
        flex-direction: column;

        .application_button {
            background: #FFA600;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}

form.job-manager-form {
    h2 {
        color: $c_primary-bg;
    }

    fieldset {
        border: 0;
        margin: 0 0 1.5em;
        padding: 0;

        @media screen and (max-width: 767px) {
            label, .field {
                width: 100%;
            }
        }
    }
}

.page-id-100000486 { // /divulgue-sua-vaga/
    &:not(.logged-in) footer {
        display: none !important;
    }
}