#gp-buddypress-header {

    .vc_col-md-8 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 225px;
    }

    .header-cargo-empresa {
        font-size: 18px;

        .header-cargo, .header-empresa {
            font-weight: 600;
        }
    }

    .header-temas-interesse {
        margin-top: 20px;

        &--titulo {
            display: block;
            font-size: 18px;
            font-weight: 600;
        }

        .header-tema-interesse {
            border-radius: 3px;
            margin: 15px 10px 0 0;
        }
    }
    #gp-author-social-icons .gp-linkedin-icon {
        background: #007bb6 !important;
    }

    .generic-button {
        vertical-align: middle;

        a {
            background-color: rgba($c_primary-bg, 0.8) !important;
            border-radius: 4px !important;
            font-size: 14px !important;
            padding: 10px 15px !important;

            &:before {
                font-family: 'FontAwesome';
                font-size: 18px;
                margin-right: 5px;
            }

            @media screen and (max-width: 767px) {
                display: inline-block;
                font-size: 0 !important;

                &:before {
                    margin: 0;
                }
            }

            &.friendship-button:before {
                content: url(../images/icon_user_add.svg);
                display: inline-block;
                vertical-align: middle;
            }

            &.activity-button.mention:before {
                content: '\f0e5';
            }

            &.send-message:before {
                content: '\f003';
            }
        }
    }

    .vc_col-md-4 {
        padding-top: 20px;

        @media screen and (min-width: 400px) and (max-width: 991px) {
            display: flex;

            .responsive-column {
                width: 50%;
            }
        }

        @media screen and (min-width: 992px) {
            text-align: right;
            padding-top: initial;
        }

        h2 {
            color: white;
            font-size: 22px;
            font-weight: 600;

            &:not(:first-child) {
                margin-top: 30px;
            }
        }

        a {
            text-decoration: none !important;
        }

        ul {
            margin-left: 0;
        }

        li {
            list-style-type: none;
            line-height: 1.25;
        }

        #gp-author-social-icons {
            margin-top: 10px;
        }
    }
}
.notifications.gp-right-sidebar, .activity.gp-right-sidebar,
.settings.gp-right-sidebar, .friends.gp-right-sidebar,
.messages.gp-right-sidebar {
    .gp-sidebar {
        width: 0;
    }
}

#gp-content {
    width: 100% !important;
}

#buddypress table.profile-fields tr.alt td {
    color: #333333 !important;
}
#buddypress .profile .bp-widget  {
    border: none !important;
    border-top: 1px solid $c_primary-bg !important;
    margin-top: 50px;
    // padding: 0 0 0 0 !important;

    .label {
        width: 30% !important;
        font-size: 16px;
        position: relative;
        padding: 10px 5px;

        &:before {
            content:'';
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid $c_secondary-bg;
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            margin-bottom: 3px;
        }
        @media only screen and (max-width: 767px)  {
            width: 100% !important;
        }
    }
    .graduation {
        &:before {
            content:'';
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid lighten($c_secondary-bg, 40%);
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            margin-bottom: 3px;
        }
    }
    .data {
        line-height: 1.6;
        font-size: 16px;
        padding-left: 15px;
    }
    .field_facebook,
    .field_google,
    .field_linkedin,
    .field_twitter {
        display: none;
    }
}
.profile .gp-right-sidebar #gp-content {
    width: 65%;
}
.profile .gp-sidebar {
    display: none;
}

#buddypress .profile #profile-edit-form {
    ul.button-nav{
        overflow: hidden;
        border-bottom: 2px solid #7ecad1;
        margin: 15px 0 20px 0 !important;

        li:not(.current) a {
            opacity: 1 !important;
            background-image: none !important;
            background: #eaeaea !important;
            color: #5aafc0 !important;
        }
    }

    .editfield.field_1{
        margin-top: 20px;
    }
}

.lemann-campos-graduacao-wrapper {
    background: #fafafa;
    padding: 1em;

    & + p.field-visibility-settings-toggle {
        background: #fafafa;
        padding: 0 0 1em 1em;
    }
}
