div.job_listings {
    ul.job_listings {
        li.job_listing {
            border: 1px solid #eee;
            margin: 10px 0;

            img.company_logo {
                border: 2px solid $c_lightergray;
                border-radius: 50%;
            }

            .position {
                h3 {
                    color: $c_primary;
                }
            }
        }
    }
}

.single_job_listing {
    .job-listing-meta.meta {
        a {
            color: #999;
        }
    }

    .company {
        align-items: center;
        border-radius: 5px;
        display: flex;
        height: 130px;

        img.company_logo {
            border: 5px solid $c_lightergray;
            border-radius: 50%;
            height: 100px;
            margin-left: 10px;
            width: 100px;
        }

        p.name {
            color: $c_primary;
            margin: 0 0 0 130px;
            padding: 0;
            width: 100%;

            a.website {
                color: $c_primary;
                float: right;
                font-weight: 500;
            }
        }
    }

    .job_description, .job_additional_info {
        color: $c_lightgray;
    }

    .application {
        .application_button {
            background: #FFA600;
        }
    }
}