div.job_listings {
    form.job_filters {
        background: transparent;
        padding: 0;

        ul.job_types {
            display: none;
        }
    }

    ul.job_listings {
        border: 0;
        display: flex;
        flex-wrap: wrap;

        div.match {
            background: #F65;
            border-radius: 5px;
            color: white;
            font-size: 0.8em;
            padding: 0 10px;
            position: absolute;
            right: 10px;
            top: 10px;
        }

        li.job_listing {
            border: 1px solid #eee;
            border-radius: 10px;
            margin: 10px 0;
            padding: 15px;
            position: relative;
            width: 96%;
            margin: 2%;

            @media screen and (min-width: 500px) and (max-width: 991px) {
                width: 46%;
            }

            @media screen and (min-width: 992px) {
                width: 29.3%;
            }

            img.company_logo {
                border: 4px solid #E7E7E7;
                border-radius: 50%;
                display: block;
                height: 100px;
                margin: 10px auto;
                width: 100px;
            }

            a.position {
                color: $c_lightgray;
                font-size: 0.9em;
                padding: 0;
                text-align: center;
                width: 100%;

                h3 {
                    color: $c_primary;
                }

                strong {
                    color: $c_primary;
                    font-weight: 600;
                }
            }
        }
    }
}

.single-job_listing {
    .gp-entry-featured {
        display: none;
    }
}

.single_job_listing {
    .job-listing-meta.meta {
        a {
            color: #999;
        }
    }

    .company {
        align-items: center;
        border-radius: 5px;
        display: flex;
        height: 130px;

        img.company_logo {
            border: 4px solid #E7E7E7;
            border-radius: 50%;
            height: 100px;
            margin-left: 10px;
            width: 100px;
        }

        p.name {
            color: $c_primary;
            margin: 0 0 0 130px;
            padding: 0;
            width: 100%;

            a.website {
                color: $c_primary;
                float: right;
                font-weight: 500;
            }
        }
    }

    .job_description, .job_additional_info {
        color: $c_lightgray;
    }

    .application {
        .application_button {
            background: #FFA600;
        }
    }
}