#gp-buddypress-header {

    .vc_col-md-8 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 992px) {
            min-height: 225px;
        }
    }

    .header-cargo-empresa {
        font-size: 18px;
        margin-bottom: 10px;

        .header-cargo, .header-empresa {
            font-weight: 600;
        }
    }

    .header-temas-interesse {
        margin-top: 20px;

        &--titulo {
            display: block;
            font-size: 18px;
            font-weight: 600;
        }

        .header-tema-interesse {
            border-radius: 3px;
            margin: 15px 10px 0 0;
        }
    }
    #gp-author-social-icons .gp-linkedin-icon {
        background: #007bb6 !important;
    }

    .generic-button {
        vertical-align: middle;

        a {
            background-color: rgba($c_primary-bg, 0.8) !important;
            border-radius: 4px !important;
            font-size: 14px !important;
            padding: 10px 15px !important;

            &:before {
                font-family: 'FontAwesome';
                font-size: 18px;
                margin-right: 5px;
            }

            @media screen and (max-width: 767px) {
                display: inline-block;
                font-size: 0 !important;

                &:before {
                    margin: 0;
                }
            }

            &.friendship-button:before {
                content: url(../images/icon_user_add.svg);
                display: inline-block;
                vertical-align: middle;
            }

            &.activity-button.mention:before {
                content: '\f0e5';
            }

            &.send-message:before {
                content: '\f003';
            }
        }
    }

    .vc_col-md-4 {
        padding-top: 20px;

        @media screen and (min-width: 400px) and (max-width: 991px) {
            display: flex;

            .responsive-column {
                width: 50%;
            }
        }

        @media screen and (min-width: 992px) {
            text-align: right;
            padding-top: initial;

            .responsive-column {
                &:not(:first-child) {
                    margin-top: 30px;
                }
            }
        }

        h2 {
            color: white;
            font-size: 22px;
            font-weight: 600;
            margin: 0;

            &:not(:first-child) {
                margin-top: 30px;
            }
        }

        a {
            text-decoration: none !important;
        }

        ul {
            margin-left: 0;
        }

        li {
            list-style-type: none;
            line-height: 1.25;
        }

        #gp-author-social-icons {
            margin-top: 10px;
        }
    }
}
.notifications.gp-right-sidebar, .activity.gp-right-sidebar,
.settings.gp-right-sidebar, .friends.gp-right-sidebar,
.messages.gp-right-sidebar {
    .gp-sidebar {
        width: 0;
    }
}

.xprofile #gp-content-wrapper {
    padding: 0 !important;

    #gp-content {
        background: whitesmoke;
    }
}

#gp-content {
    width: 100% !important;
}

#buddypress table.profile-fields tr.alt td {
    color: #333333 !important;
}

// FIXME: Discover why BP styles are included later, requiring all those '!important' clauses.
#buddypress .profile .bp-widget  {
    background: white;
    box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);
    display: inline-block;
    margin: 0 0 30px !important;
    padding: 0 0 0 0 !important;
    width: 100%;

    @media screen and (min-width: 992px) {
        width: calc(50% - 10px);
    }

    &.destaques-do-perfil, &.destaque-do-perfil {
        display: none;
    }
    &.mini-bio, &.bio, &.necessidades-e-ofertas {
        float: left;
        clear: left;
    }
    &.carreira {
        float: right;
        clear: right;
    }

    h2 {
        background: $c_primary-bg !important;
        border: 2px solid white;
        border-radius: 7px;
        display: block !important;
        color: white;
        font-weight: 500;
        margin-bottom: 20px !important;
        padding: 10px 20px 5px !important;
        text-align: left;
        top: 0 !important;
        width: 100%;
    }

    .profile-fields {
        margin: 20px;
        width: calc(100% - 40px);
    }

    .label {
        color: $c_lightgray !important;
        display: block;
        width: 100% !important;
        font-size: 0.8em;
        position: relative;
        padding: 0;
    }
    .graduation {
        padding-left: 20px;
    }
    .data {
        display: block;
        line-height: 1.6;
        font-size: 16px;
    }
    .field_facebook,
    .field_google,
    .field_linkedin,
    .field_twitter {
        display: none;
    }

    &.empty-carreira {
        p {
            color:#888;

            margin: 3em;
        }
        a {
            color:#00B5AF;
            border:2px solid #00B5AF;
            padding:15px 15px 10px 15px;
            border-radius: 3px;
        }
    }
}
.profile .gp-right-sidebar #gp-content {
    width: 65%;
}
.profile .gp-sidebar {
    display: none;
}

#buddypress .profile #profile-edit-form {
    ul.button-nav{
        overflow: hidden;
        border-bottom: 2px solid #7ecad1;
        margin: 15px 0 20px 0 !important;

        li:not(.current) a {
            opacity: 1 !important;
            background-image: none !important;
            background: #eaeaea !important;
            color: #5aafc0 !important;
        }
    }

    .editfield.field_1{
        margin-top: 20px;
    }
}

#buddypress {
    #item-nav {
        background: white;

        .item-list-tabs {
            padding: 20px 40px;
        }
    }

    .xprofile & #item-body {
        margin-left: 0;

        .item-list-tabs#subnav {
            background: whitesmoke;
            margin: 0;
            padding: 10px 0 25px;

            ul {
                display: flex;
                justify-content: flex-end;

                li {
                    background: white;
                    border-radius: 2px;
                    font-weight: bold;
                    margin: 0 0 10px 10px;
                    padding: 7.5px 10px;

                    a {
                        font-weight: 500;
                    }
                }
            }
        }

        .profile {
            background: whitesmoke;
            padding: 30px 10px;

            @media screen and (min-width: 992px) {
                padding: 30px 0;
            }
        }
    }
}

.gp-theme #gp-buddypress-header #message.bp-template-notice {
    font-size: 1.1em;
    font-weight: 500;

    p:before {
        font-family: 'FontAwesome';
        padding-right: 10px;
    }

    &.error {
        background-color: lighten(red, 40%);
        color: darken(red, 10%);

        p:before {
            content: '\f071';
        }
    }

    &.updated {
        background-color: lighten($c_secondary, 50%);
        color: darken($c_secondary, 10%);

        p:before {
            content: '\f00c';
        }
    }
}

.lemann-campos-graduacao-wrapper {
    background: #fafafa;
    padding: 1em;

    & + p.field-visibility-settings-toggle {
        background: #fafafa;
        padding: 0 0 1em 1em;
    }
}