#gp-content-wrapper.gp-container.contain-embed {
    padding-top: 0;
}

.post-type-archive-oportunidade {
    form#filters {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .field-group {
            padding: 5px;

            label {
                display: block;
            }

            &--button {
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
}
