#menu-encontro-anual {
    border-bottom: 2px solid #eee;

    a {
        color: $c_lightgray;
    }

    li {
        border: none;
        display: inline-block;
        margin-right: 50px;

        &.current-menu-item a {
            color: $c_primary;
            font-weight: 500;
        }
    }
}

.wcs-addons--blink {
    animation: none;
    -webkit-animation: none;
}

.wcs-timetable__container {
    
    .wcs-timetable__carousel .wcs-class {
        background-color: $c_lightergray !important;

        p {
            line-height: 1.5;
        }

        .wcs-class__title {
            color: $c_primary;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0 !important;
        }
    }
}

.wcs-modal {
    background-color: rgba($c_primary, 0.9);
    overflow: hidden;

    &__content {
        h2 {
            color: $c_primary;
            font-weight: 500;
        }
    }
}

.wcs-timetable__compact-list {
    .wcs-day__date {
        color: $c_secondary;
        font-weight: 500;

        small {
            color: $c_lightgray;
            font-weight: initial;
        }
    }

    .wcs-class {
        &__time {
            align-self: flex-start;

            span {
                font-size: 110%;
            }

            small {
                color: $c_lightgray;
            }
        }

        &__content {
            h3.wcs-class__title {
                color: $c_primary;
                font-size: 125%;
            }

            h4.wcs-class__title {
                color: $c_secondary;
            }
        }
    }

    .wcs-timetable__classes:before {
        color: $c_link !important;
    }
}

.wcs-filters__container {
    .wcs-filters__title {
        color: $c_primary !important;
        font-size: initial;
    }
}
.ti-calendar:before, .ti-location-arrow:before, .ti-time:before, 
.ti-user:before, .wcs-timetable--1 .wcs-timetable__carousel .owl-dots .active {
    color: $c_secondary-bg !important;
}
.wcs-timetable__carousel .owl-nav {
    position: absolute;
    width: 100%;
    top: -100px;
    margin: 6vh 0 6vh 0;
    
    .owl-prev::before, .owl-next::before {
        font-size: 150%;
        color: $c_primary;
    }
}
