
.wcs-events-schedule {

    h3 {
        margin-bottom: 0;
    }

    .wcs-timetable__agenda-nav {
        li:first-child {
            border-top: 0;
        }

        &-item.active {
            color: $c_secondary-bg !important;
        }
    }

    .wcs-timetable__agenda-data {
        .wcs-class {
            padding-top: 1.5vh;
        }
    }

    .wcs-class {
        &__image {
            width: 75px !important;
            height: 75px !important;
            object-fit: contain;
            background-size: cover;
            background-position: center center;
        }

        &__title-meta {
            padding-left: 10px;
            width: 60%;
            .wcs-class__title {
                color: $c_secondary-bg;
                font-weight: 500;
                line-height: 1.2;
            }

            .ti-time:before {
                display: none;
            }
        }
    }
}
#recent-media-tabs-photo-rtmediagallerywidget-2 li:first-child {
    border-top-width: 0 !important;
    border-style: none !important;
}
.wcs-timetable__agenda .wcs-timetable__agenda-data .wcs-class__title-meta {
    width: auto !important;
}

@media screen and (max-width: 768px){
    #gp-content #gp_featured_box_wrapper_1 .gp-featured-small {
        width: 50vw;
        height: calc(50vw / 1.25);
    }
}