
.wcs-events-schedule {

    h3 {
        margin-bottom: 0;
    }

    .wcs-timetable__agenda-nav {
        li:first-child {
            border-top: 0;
        }

        &-item.active {
            color: $c_secondary !important;
        }
    }

    .wcs-timetable__agenda-data {
        .wcs-class {
            padding-top: 1.5vh;
        }
    }

    .wcs-class {
        &__image {
            width: 75px;
            height: 75px;
            background-size: cover;
            background-position: center center;
        }

        &__title-meta {
            padding-left: 10px;

            .wcs-class__title {
                color: $c_secondary-bg;
                font-weight: 500;
                line-height: 1.2;
            }

            .ti-time:before {
                display: none;
            }
        }
    }
}
