.gp-search-box{

    form.searchform {
        background: transparent;
        border: 0;
    }

    input.gp-search-bar {
        background-color: $c_lightergray;
        padding: 10px;
    }

    .search-result {
        ul {
            background-color: white;
            border: 0.5px solid $c_lightergray;
            margin-left: 0;
            max-height: 50vh;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 10px;

            li {
                list-style: none;
                padding: 5px 10px;

                a {
                    display: table;

                    strong {
                        display: table-cell;
                        padding-left: 10px;
                        vertical-align: middle;
                    }
                }
            }

            &::-webkit-scrollbar-track
            {
                border-radius: 10px;
                background-color: $c_lightergray;
            }

            &::-webkit-scrollbar
            {
                width: 12px;
                background-color: $c_lightergray;
            }

            &::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                background-color: #ddd;
            }
        }
    }
}

body.search ul#members-list li.gp-post-item {
    width:25%;
    float:left; 
    min-height:172px;
}


@media screen and (max-width: 768px){
    body.search ul#members-list li.gp-post-item {
        width:50%;
    }
}
