$f_title : 'Effra';
$f_content : 'Effra';

$c_primary: #083050;
$c_secondary: #0C9B4A;
$c_darkgray: #333333;
$c_lightergray: #F5F5F5;
$c_link: #b3c135;

$c_primary-bg: #00B5AF;
$c_secondary-bg: #2CB781;