$f_title : 'Effra';
$f_content : 'Effra';

$c_primary: #083050;
$c_secondary: #0C9B4A;
$c_darkgray: #333333;
$c_lightgray: #888888;
$c_lightergray: #F5F5F5;
$c_link: #b3c135;

$c_primary-bg: #00B5AF;
$c_secondary-bg: #2CB781;

$c_warning: #EF4123;

$c_profile_insuficiente: $c_warning;
$c_profile_medio: #FBB700;
$c_profile_completo: #51B413;